*{
    margin:0px;
    padding:0px;
}
body {
    background-color:rgb(255, 232, 127); 
}
.main{
    width:950px;
    margin:0 auto;
}
.head{
    color:brown;
}
.menu{
    background:rgb(238, 21, 5);
    overflow:hidden;
}			

.menu ul{
    list-style:none;
    
}

.menu ul li{

}

.menu ul li a{
    float:left;
    text-decoration:none;
    padding:20px 60px;
    color:rgb(48, 231, 24);       
}

.menu ul li a:hover{
color:rgb(0, 0, 0);		/* hovering text */
background:rgb(255, 255, 255);		/* hovering background */
border-style: solid;
}